services:
  browser:
    build:
      context: ./browser
      dockerfile: Dockerfile
    container_name: browser
    volumes:
      - ./output:/output
    environment:
      - DISPLAY=:99
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    volumes:
      - ./config.json:/app/config.json